{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="container my-5">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="my-3">Problems</h5>
                <small>Updated: 3 days ago</small>
            </div>
            {% comment %} <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small>And some small print.</small> {% endcomment %}
        </a>

        <a href="/problems/problem1" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Problem 1</h5>
                <small class="text-muted">Level: Medium</small>
            </div>
            <p class="mb-1">Given a string find the substring with greatest substring in it.</p>
            <small class="text-muted">And some muted small print.</small>
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Problem 2</h5>
                <small class="text-muted">Level: Easy</small>
            </div>
            <p class="mb-1">Convert the given Roman integers into regular integers.</p>
            <small class="text-muted">And some muted small print.</small>
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Problem 1</h5>
                <small class="text-muted">Level: Medium</small>
            </div>
            <p class="mb-1">Given a string find the substring with greatest substring in it.</p>
            <small class="text-muted">And some muted small print.</small>
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Problem 1</h5>
                <small class="text-muted">Level: Medium</small>
            </div>
            <p class="mb-1">Given a string find the substring with greatest substring in it.</p>
            <small class="text-muted">And some muted small print.</small>
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Problem 1</h5>
                <small class="text-muted">Level: Medium</small>
            </div>
            <p class="mb-1">Given a string find the substring with greatest substring in it.</p>
            <small class="text-muted">And some muted small print.</small>
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Problem 1</h5>
                <small class="text-muted">Level: Medium</small>
            </div>
            <p class="mb-1">Given a string find the substring with greatest substring in it.</p>
            <small class="text-muted">And some muted small print.</small>
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Problem 1</h5>
                <small class="text-muted">Level: Medium</small>
            </div>
            <p class="mb-1">Given a string find the substring with greatest substring in it.</p>
            <small class="text-muted">And some muted small print.</small>
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Problem 1</h5>
                <small class="text-muted">Level: Medium</small>
            </div>
            <p class="mb-1">Given a string find the substring with greatest substring in it.</p>
            <small class="text-muted">And some muted small print.</small>
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Problem 1</h5>
                <small class="text-muted">Level: Medium</small>
            </div>
            <p class="mb-1">Given a string find the substring with greatest substring in it.</p>
            <small class="text-muted">And some muted small print.</small>
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Problem 1</h5>
                <small class="text-muted">Level: Medium</small>
            </div>
            <p class="mb-1">Given a string find the substring with greatest substring in it.</p>
            <small class="text-muted">And some muted small print.</small>
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Problem 1</h5>
                <small class="text-muted">Level: Medium</small>
            </div>
            <p class="mb-1">Given a string find the substring with greatest substring in it.</p>
            <small class="text-muted">And some muted small print.</small>
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Problem 1</h5>
                <small class="text-muted">Level: Medium</small>
            </div>
            <p class="mb-1">Given a string find the substring with greatest substring in it.</p>
            <small class="text-muted">And some muted small print.</small>
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Problem 1</h5>
                <small class="text-muted">Level: Medium</small>
            </div>
            <p class="mb-1">Given a string find the substring with greatest substring in it.</p>
            <small class="text-muted">And some muted small print.</small>
        </a>
    </div>
</div>
{% endblock body %}